
extends layout

block content
  div.articles
    h2= "ידיעות"
    ul
      each article in articles
        li
          a(href="article/" + article.number) !{article.title}
          span &nbsp; - &rlm; !{article.date}
    h2= "פורומים"
    ul
      each article in forums
        li !{article.title} | !{article.info}
          a(href="forum/" + article.number) !{article.title}
          span &nbsp; | !{article.info}
