
extends layout

block content
  div.articles
    h2= "ידיעות"
    ul
      each article in articles
        li
          a(href="article/" + article.number) !{article.title} <br />
          span !{article.date}
          //- pan &nbsp; - &rlm; !{article.date}  &rlm; !{article.category}
    h2= "פורומים"
    ul
      each post in forums
        li
          a(href="forum/" + post.number) !{post.title} <br />
          span !{post.date} |  !{post.responseCount} | !{post.category}
