
extends layout

block content
  div.articles
    h2= "ידיעות"
    each article in articles
      div.article
        div.title
          a(href="article/" + article.number) !{article.title}
        div.meta
          span.date !{article.date}  &rlm;
          span.category !{article.category}
        div.summary !{article.summary}

  div.articles
    h2= "פורומים"
    ul
      each post in forums
        li
          a(href="forum/" + post.number) !{post.title} <br />
          span !{post.date} |  !{post.responseCount} | !{post.category}
